@model IReadOnlyCollection<Assembley>

<div class="container">
    <a class="nav-link btn-success w-100 text-center" asp-action="CreateAssembley" asp-controller="Admin">Создать сборочную деталь</a>
</div>

<div class="container-fluid">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center">

            @foreach (var assembley in Model)
            {
                <div class="card department-card text-center m-1" style="width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">@assembley.Name</h5>
                        <p class="card-text">Время сборки:@assembley.Time</p>
                        <h6 class="card-subtitle mb-2 text-muted">@assembley.Manual</h6>
                        <input type="submit" class="btn-info w-75 rounded-pill mw-100 mb-1" value="Изменить" />
                        <input type="submit" class="btn-success w-75 rounded-pill mw-100 mb-1" value="Удалить" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>