@model Department
<div class="container">
    <div class="row">
        <div class="container bg-light">
            <div class="form-group">
                <form method="post" action="~/Admin/CreateDepartment">
                    <label>Название отдела:</label><br />
                    <input asp-for="@Model.Name" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span><br />
                    <label>Имя Заведующего отдела:</label><br />
                    <input asp-for="@Model.Chief" type="text" class="form-control" />
                    <span asp-validation-for="@Model.Chief" class="text-danger"></span><br />
                    <label>Цена:</label><br />
                    <input type="submit" value="Отправить" />
                </form>
            </div>
        </div>
    </div>
</div>